
config storage 'storage'
	option path '/etc/oasis/chat_data'
	option prefix 'chat-'
	option chat_max '30'

config recovery 'backup'
	option enable '0'
	option rollback_time '300' # 300s (5min)

config sysrole 'role'
	option path '/etc/oasis/oasis.conf'
	option chat '0'
	option prompt '0'
	option call '0'
