config console 'console'
	option chat 'default.chat'
	option prompt 'default.prompt'

config basic 'assist'
	option enable '1'
#	option rag '1'

# Installing oasis-mod-tool or oasis-mod-spring sets the option value in the support section to 1 (enabled).
config support 'support'
	option local_tool '0'
	option remote_mcp_server '0'
	option spring '0'

config rpc 'rpc'
	option enable '0'

config storage 'storage'
	option path '/etc/oasis/chat_data'
	option prefix 'chat-'
	option chat_max '30'

config rollback 'rollback'
	option confirm '0'
	option list_max_num '10'
	option time '300' # 300s (default)
	option enable '1'
# enable '1' ---> Rollback Data List Func Active

config sysmsg 'role'
	option path '/etc/oasis/oasis.conf'
	option chat '0'
	option prompt '0'
	option call '0'

config debug 'debug'
	option disabled '1'
	option volatile '1'
# volatile '1' ---> /tmp/xxx.log
# volatile '0' ---> /etc/oasis/xxx.log