package oasis

config tool
	option enable '1'
	option type 'function'
	option description 'Get current temperature for a given location.'
	list required 'location'
	option additionalProperties '0'
	list property 'location:string:City and country e.g. Bogotá, Colombia'

config tool
	option enable '1'
	option type 'function'
	option description 'Get wireless lan interface name list.'
	option additionalProperties '0'

config tool
	option enable '1'
	option type 'function'
	option description 'Get current data A.'
	list required 'sample_parameter'
	option additionalProperties '0'
	list property 'sample_parameter:string:parameter description'
	list property 'another_param:number:another description'
