.chat-config-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.chat-container {
    color: #222222;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.message {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.message.sent {
    justify-content: flex-end;
}

.message .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.message.sent .icon {
    display: none;
}

.message .message-text {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.message.sent .message-text {
    background-color: #d1e7dd;
    align-self: flex-end;
    margin-left: auto; /* 追加 */
}

.message.received .message-text {
    background-color: #f1f1f1;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#ip-address-input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#message-input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#apply-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #00bb7b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #888;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-size: 18px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.popup.show {
    opacity: 1;
}

.popup.hide {
    opacity: 0;
}
